@charset "utf-8";
/* CSS Document 
 * author: @CleiverFossi
 * Version: 2
 * Modificado por : Marco Adarme
 */


/*  */

.ewk_cont_banner{
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../Imagenes/rf1.jpg");
}

.ewk_sobra{
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%,-50%);
    padding: 20px;
    width: 80%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    margin: auto;
}

.ewk_sobra hr{
    border-top: 1px solid #fff;
}

.ewk_sobra h1{
    font-size: 5vw;
    margin-bottom: 10px;
}

.ewk_sobra p{
    font-size: 2vw;
	margin-bottom: 5px;
	text-align: center;
}

.ewk_cont_banner_link{
    margin: 15px;
    position: relative;
}

.ewk_cont_banner_link a{
    position: relative;
    display: inline-block;
    color: rgb(255, 0, 0);
    text-decoration: none;
    border: 1px solid #fff;
    padding: 1px;
    margin-bottom: 5px;
    width: 150px;
}

.ewk_cont_banner_link a:hover{
    background-color: #fff;
    color: #111;
}